{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/checklists/checklist_form.css' %}" />
{% endblock %}

{% block content %}
<h2>Edit Task: {{ object.step_name }}</h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn submit">Save Changes</button>
</form>

<div class="listitem-actions">
  {% if user == object.checklist.owner %}
    <a href="{% url 'delete-task' checklist_id=object.checklist.id pk=object.id %}" class="btn danger nav-link">Delete</a>
  {% endif %}
  <a href="{% url 'checklist-detail' checklist_id=object.checklist.id %}" class="nav-link">Back to Checklist</a>
</div>

{% endblock %}

