
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checklists</title>
</head>
<body>
<section class="page-header">
  <h1>All Checklists</h1>
</section>

  

<ul>
    {% for checklist in checklists %}
        <li> Owner: {{ checklist.owner }} - {{ checklist.list_name }} - Status: {{ checklist.get_status_display }}</li>
    {% empty %}
        <li>No checklists available.</li>
    {% endfor %}
</ul>

<a href="{% url 'checklist-create' %}">Create a New Checklist</a>

</body>
</html>