{% extends 'base.html' %}

{% block title %}
    <title>Share Checklist</title>
{% endblock %}

{% block content %}
<h2>Share Checklist: {{ checklist.list_name }}</h2>
<p>Owner: {{ checklist.owner }}</p>

<form method="post" class="share-form nav-container">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="#" class="btn edit" onclick="document.getElementById('myForm').submit()">Submit</a>
  </form>

<h3>Currently Shared With:</h3>
<ul>
    {% for list_user in shared_users %}
        <li>
            {{ list_user.user.username }} - {{ list_user.get_role_display }}
        </li>
    {% empty %}
        <li>No users have access to this checklist.</li>
    {% endfor %}
</ul>

<div class="nav-container">
    <a href="{% url 'home' %}" class="btn secondary">Back to Checklists</a>
  </div>
  {% endblock %}