{% extends 'base.html' %}
{% load static %} 


{% block head %}
    <link rel="stylesheet" href="{% static 'css/checklists/checklist_form.css' %}" />
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Delete Checklist?</h1>
</div>

<h2>Are you sure you want to delete {{ checklist.list_name }} checklist?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <button type="submit" class="btn danger">Delete!</button>
  <a href="{% url 'home' %}" class="btn secondary">Cancel</a>
</form>

{% endblock %}