.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.tasks, .checklists, .shared-checklists {
    border: 2px solid #333;

}    

.checklists {
    flex: 1;
}

.tasks {
    flex: 2;
}